
<h2 mat-dialog-title>Selected Row Data</h2>

<p>author : <b>{{data.author}}</b></p>
<p>comment_text : <b>{{data.commentText}}</b></p>
<p>created_at : <b>{{data.createdAt}}</b></p>
<p>created_at_i : <b>{{data.createdAtI}}</b></p>
<p>num_comments : <b>{{data.numComments}}</b></p>
<p>objectID : <b>{{data.objectID}}</b></p>
<p>parent_id : <b>{{data.parentId}}</b></p>
<p>points : <b>{{data.points}}</b></p>
<p>story_id : <b>{{data.storyId}}</b></p>
<p>story_text : <b>{{data.storyText}}</b></p>
<p>story_title : <b>{{data.storyTitle}}</b></p>
<p>story_url : <b>{{data.storyUrl}}</b></p>
<p>title : <b>{{data.title}}</b></p>
<p>url : <b>{{data.url}}</b></p>

<mat-dialog-actions>
<button  mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>